[Unit]
Description=HarborOS: OpenStack: Horizon Manager: Service
After=docker.service freeipa.service os-database.service
Requires=docker.service

[Service]
TimeoutStartSec=0
EnvironmentFile=/etc/os-common/common.env
RemainAfterExit=True



ExecStartPre=/var/usrlocal/bin/freeipa-service-status.sh

ExecStartPre=/var/usrlocal/bin/os-horizon-manager-flight.sh
ExecStart=/bin/echo 'Horizon Configured'
ExecStartPost=/usr/local/bin/etcdctl set /${OS_DISTRO}/horizon/status DOWN

ExecStop=/usr/local/bin/etcdctl set /${OS_DISTRO}/horizon/status DOWN

ExecStop=-/usr/local/bin/kubectl delete -f /etc/os-horizon/kube/os-horizon-manager_replicationcontroller.yaml --namespace=os-horizon

Restart=always
RestartSec=10

[Install]
WantedBy=os-horizon-api.service
