[
  {rabbit, [
     {tcp_listeners, []},
     {ssl_listeners, [5672]},
     {ssl_options, [{cacertfile,"/etc/pki/tls/certs/ca-auth.crt"},
                    {certfile,"/etc/pki/tls/certs/ca.crt"},
                    {keyfile,"/etc/pki/tls/private/ca.key"},
                    {verify,verify_peer},
                    {fail_if_no_peer_cert,true}]},
    {default_user, <<"@RABBITMQ_USER@">>},
    {default_pass, <<"@RABBITMQ_PASS@">>}
  ]},
  {kernel, [

  ]}
].
% EOF
