[Unit]
Description=HarborOS: OpenStack: Glance Service
After=docker.service freeipa.service os-glance-manager.service
Requires=docker.service

[Service]
TimeoutStartSec=0
RemainAfterExit=True
Restart=always
RestartSec=10

ExecStartPre=/var/usrlocal/bin/os-glance-api-preflight.sh

#ExecStartPre=-/usr/local/bin/kubectl delete -f /etc/os-glance/kube/os-glance-api_service.yaml --namespace=os-glance
ExecStartPre=-/usr/local/bin/kubectl delete -f /etc/os-glance/kube/os-glance-api_replicationcontroller.yaml --namespace=os-glance
ExecStartPre=-/usr/local/bin/kubectl delete -f /etc/os-glance/kube/os-glance_secrets.yaml --namespace=os-glance


ExecStartPre=/var/usrlocal/bin/freeipa-service-status.sh

ExecStartPre=/usr/local/bin/kubectl create -f /etc/os-glance/kube/os-glance_secrets.yaml --namespace=os-glance
ExecStartPre=/usr/local/bin/kubectl create -f /etc/os-glance/kube/os-glance-api_replicationcontroller.yaml --namespace=os-glance
ExecStart=/usr/local/bin/kubectl create -f /etc/os-glance/kube/os-glance-api_service.yaml --namespace=os-glance

#ExecStop=-/usr/local/bin/kubectl delete -f /etc/os-glance/kube/os-glance-api_service.yaml --namespace=os-glance

ExecStop=-/usr/local/bin/kubectl delete -f /etc/os-glance/kube/os-glance-api_replicationcontroller.yaml --namespace=os-glance
ExecStop=-/usr/local/bin/kubectl delete -f /etc/os-glance/kube/os-glance_secrets.yaml --namespace=os-glance


[Install]
WantedBy=multi-user.target
