[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

After=docker-bootstrap.service
Requires=docker-bootstrap.service

[Service]
EnvironmentFile=-/etc/kubernetes/config
EnvironmentFile=-/etc/kubernetes/controller-manager
EnvironmentFile=-/etc/kubernetes/deploy.env

ExecStartPre=-/bin/docker -H unix:///var/run/docker-bootstrap.sock kill kube-controller-manager
ExecStartPre=-/bin/docker -H unix:///var/run/docker-bootstrap.sock rm kube-controller-manager
ExecStart=/bin/docker -H unix:///var/run/docker-bootstrap.sock run \
            --name=kube-controller-manager \
            --net='host' \
            -v /etc/ssl/certs:/etc/ssl/certs \
            -v /etc/kubernetes/ssl:/etc/kubernetes/ssl \
            $KUBERNETES_IMAGE /hyperkube controller-manager \
                $KUBE_LOGTOSTDERR \
          	    $KUBE_LOG_LEVEL \
          	    $KUBE_MASTER \
          	    $KUBE_CONTROLLER_MANAGER_ARGS
ExecStop=/bin/docker -H unix:///var/run/docker-bootstrap.sock stop kube-controller-manager
ExecStop=/bin/docker -H unix:///var/run/docker-bootstrap.sock rm kube-controller-manager

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
