[Unit]
Description=Kubernetes Kubelet Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

After=docker-bootstrap.service
Requires=docker-bootstrap.service

[Service]
EnvironmentFile=-/etc/kubernetes/config
EnvironmentFile=-/etc/kubernetes/kubelet
EnvironmentFile=/etc/kubernetes/deploy.env

ExecStartPre=-/usr/bin/docker -H unix:///var/run/docker-bootstrap.sock kill kubelet
ExecStartPre=-/usr/bin/docker -H unix:///var/run/docker-bootstrap.sock rm kubelet
ExecStart=/bin/docker -H unix:///var/run/docker-bootstrap.sock run \
            --name=kubelet \
            --net=host \
            --pid=host \
            --privileged \
            --restart=always \
            -v /sys:/sys:ro \
            -v /var/run:/var/run:rw \
            -v /:/rootfs:ro \
            -v /dev:/dev \
            -v /var/lib/docker/:/var/lib/docker:rw \
            -v /var/lib/kubelet/:/var/lib/kubelet:rw \
            -v /etc/os-release:/etc/os-release:ro \
            $KUBERNETES_IMAGE /hyperkube kubelet \
            	    $KUBE_LOGTOSTDERR \
            	    $KUBE_LOG_LEVEL \
            	    $KUBELET_API_SERVER \
            	    $KUBELET_ADDRESS \
            	    $KUBELET_PORT \
            	    $KUBELET_HOSTNAME \
            	    $KUBE_ALLOW_PRIV \
            	    $KUBELET_ARGS \
                  --containerized
ExecStop=/usr/bin/docker -H unix:///var/run/docker-bootstrap.sock stop kubelet
ExecStop=/usr/bin/docker -H unix:///var/run/docker-bootstrap.sock rm kubelet

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
