global
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

defaults
    mode                    tcp
    log                     global
    option                  tcplog
    option                  dontlognull
    retries                 3
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout check           10s
    maxconn                 3000

frontend  main *:44339
    default_backend             app_https

backend app_https
    balance     roundrobin
    server  app_https_1 {{APPLICATION_IP}}:443 check


frontend  insecure *:44340
    default_backend             app_http

backend app_http
    balance     roundrobin
    server  app_http_1 {{APPLICATION_IP}}:80 check
