[client]
port = 3306

[mysqld_safe]
nice = 0

[mysqld]
user = mysql
port = 3306
basedir = /usr
datadir = /var/lib/mysql/data
####tmpdir = /tmp
tmpdir = /var/tmp
pid_file = /var/run/mysqld/mysqld.pid

!includedir /etc/mysql/conf.d/
