[Unit]
Description=Flanneld overlay address etcd agent
After=network.target flanneld-conf.service flanneld-conf.path
Before=docker.service
Requires=flanneld-conf.service flanneld-conf.path etcd.service docker-bootstrap.service

[Service]
StandardOutput=null
TimeoutStartSec=0
RemainAfterExit=yes
Type=simple
EnvironmentFile=/etc/sysconfig/flanneld
EnvironmentFile=-/etc/sysconfig/docker-network
ExecStartPre=-/usr/bin/docker -H unix:///var/run/docker-bootstrap.sock stop flanneld
ExecStartPre=-/usr/bin/docker -H unix:///var/run/docker-bootstrap.sock kill flanneld
ExecStartPre=-/usr/bin/docker -H unix:///var/run/docker-bootstrap.sock rm flanneld
ExecStart=/usr/bin/docker -H unix:///var/run/docker-bootstrap.sock run \
              --name flanneld \
              --restart=always \
              -d \
              --net=host \
              --privileged \
              -v /dev/net:/dev/net \
              -v /run/flannel:/run/flannel \
              quay.io/coreos/flannel:0.5.5 \
              /opt/bin/flanneld \
                  --ip-masq \
                  -etcd-endpoints=${FLANNEL_ETCD} \
                  -etcd-prefix=${FLANNEL_ETCD_KEY} \
                  $FLANNEL_OPTIONS
ExecStartPost=/usr/libexec/flannel/mk-docker-opts.sh -k DOCKER_NETWORK_OPTIONS -d /run/flannel/docker

Restart=on-failure
RestartSec=10

[Install]
RequiredBy=docker.service
