[Unit]
Description=Docker Application Container Engine
Documentation=http://docs.docker.com
After=docker-ovs.service harbor-ovs.service harbor-etcd.service harbor-network-ovs.service
Requires=docker-ovs.service

[Service]
Type=simple
TimeoutStartSec=0
RemainAfterExit=yes

ExecStartPre=/usr/local/bin/harbor-network-register
ExecStartPre=/usr/local/bin/harbor-network-docker-prep
ExecStart=/usr/local/bin/harbor-network-update-ovs

Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
