[Unit]
Description=Kubelet
After=harbor-kube-bootstrap.service
Requires=harbor-kube-bootstrap.service

[Service]
StandardOutput=null
TimeoutStartSec=0
RemainAfterExit=yes
Type=simple

ExecStartPre=-/usr/local/bin/harbor-docker stop kubelet
ExecStartPre=-/usr/local/bin/harbor-docker kill kubelet
ExecStartPre=-/usr/local/bin/harbor-docker rm -v kubelet
ExecStartPre=/usr/local/bin/kubelet
ExecStart=/usr/local/bin/harbor-docker inspect kubelet

Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
