[Unit]
Description=OpenStack Trove guestagent Service
After=syslog.target network.target

[Service]
Type=simple
User=trove
ExecStartPre=/bin/bash -c "sudo chown -R mysql:mysql /etc/my.cnf"
ExecStartPre=/bin/bash -c "sudo mkdir -p /etc/mysql/conf.d/"
ExecStartPre=/bin/bash -c "sudo chown -R mysql:mysql /etc/mysql/conf.d"
ExecStartPre=/bin/bash -c "sudo mkdir -p /var/lib/mysql/data"
ExecStartPre=/bin/bash -c "sudo chown -R mysql:mysql /var/lib/mysql/data"
ExecStart=/usr/bin/trove-guestagent --config-file /etc/trove/trove-guestagent.conf --config-file /etc/trove/conf.d/guest_info.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target
